[KSplash Theme: BlueSplash]
Name = Blue Splash Screen
Description = Blue Splash Screen
Version = 1.0
Author = Fernando Rodriguez
Engine = KSplashX
License = GPL
Homepage = http://github.com/fernando-rodriguez
