[Desktop Entry]
Name=Tilain II
Comment=Tilain Theme without the green line on the task buttons.
X-KDE-PluginInfo-Author=Tilain Team
X-KDE-PluginInfo-Name=org.tilain.plasma
X-KDE-PluginInfo-Version=0.3.2
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CC by-sa
X-KDE-PluginInfo-EnabledByDefault=false

